div, h1, h2, h3, p{
   text-align: center;
}

p { 
	color: gray; 
}

body{
   background-color: #800000;
}

h1 {
   text-transform: uppercase;
   font-family: "Lucida Console", "Courier New", monospace;
   color: #800000;
   background-color: #ffffff;
}

h2 {
	color: #ffffff;
}

h3 {
   color: salmon;
   text-transform: uppercase;
}

ul, ol {
   display: inline-block;
   text-align: left;
   color: #ffffff;
}

a:link {
   color: #ffffff;
 }

a:visited {
   color: #F08080;
}
 
a:hover {
   color: #800000;
   background-color: #ffffff;
}
 
img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: 300px;
   border-radius: 50%;
}

